.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;

  &:hover {
    background: linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }
}
