/* stylelint-disable */
.swiper-container {
  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 1152px;
    height: auto;
  }
}

@media (max-width: 1023px) {
  .swiper-container {
    width: 288px;
    height: 424px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
  }
  .swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-container-pointer-events {
    touch-action: pan-y;
    &.swiper-container-vertical {
      touch-action: pan-x;
    }
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  .swiper-slide-invisible-blank {
    visibility: hidden;
  }
  /* Auto Height */
  .swiper-container-autoheight {
    .swiper-slide {
      height: auto;
    }

    .swiper-wrapper {
      align-items: flex-start;
      transition-property: transform, height;
    }
  }

  /* 3D Effects */
  .swiper-container-3d {
    perspective: 1200px;
    .swiper-wrapper,
    .swiper-slide,
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right,
    .swiper-slide-shadow-top,
    .swiper-slide-shadow-bottom,
    .swiper-cube-shadow {
      transform-style: preserve-3d;
    }
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right,
    .swiper-slide-shadow-top,
    .swiper-slide-shadow-bottom {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 10;
    }
    .swiper-slide-shadow-left {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
    .swiper-slide-shadow-right {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
    .swiper-slide-shadow-top {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
    .swiper-slide-shadow-bottom {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
  }

  /* CSS Mode */
  .swiper-container-css-mode {
    > .swiper-wrapper {
      overflow: auto;
      scrollbar-width: none; /* For Firefox */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: start start;
    }
  }
  .swiper-container-horizontal.swiper-container-css-mode {
    > .swiper-wrapper {
      scroll-snap-type: x mandatory;
    }
  }
  .swiper-container-vertical.swiper-container-css-mode {
    > .swiper-wrapper {
      scroll-snap-type: y mandatory;
    }
  }

  /* Bullets */
  .swiper-pagination {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  /* Common Styles */
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    width: 100%;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: $black;
    opacity: 0.2;
  }

  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: $yellow-gradient;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
  }
  .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    vertical-align: middle;
    transition: 200ms transform, 200ms top;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
  }
  .swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
  }
}

.swiper-container-slider {
  .swiper-button-container {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 1084px;

    .swiper-slide-active {
      margin-right: 33px;
    }

    .swiper-container-vertical > .swiper-wrapper {
      flex-direction: column;
    }
    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 400px;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;

      @media (min-width: $desktop-width) {
        height: auto;
      }
    }
    .swiper-container-android .swiper-slide,
    .swiper-wrapper {
      transform: translate3d(0px, 0, 0);
    }
    .swiper-container-multirow > .swiper-wrapper {
      flex-wrap: wrap;
    }
    .swiper-container-multirow-column > .swiper-wrapper {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .swiper-container-free-mode > .swiper-wrapper {
      transition-timing-function: ease-out;
      margin: 0 auto;
    }
    .swiper-container-pointer-events {
      touch-action: pan-y;
      &.swiper-container-vertical {
        touch-action: pan-x;
      }
    }
    .swiper-slide {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;
    }
    .swiper-slide-invisible-blank {
      visibility: hidden;
    }
    /* Auto Height */
    .swiper-container-autoheight {
      .swiper-slide {
        height: auto;
      }

      .swiper-wrapper {
        align-items: flex-start;
        transition-property: transform, height;
      }
    }

    /* 3D Effects */
    .swiper-container-3d {
      perspective: 1200px;
      .swiper-wrapper,
      .swiper-slide,
      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right,
      .swiper-slide-shadow-top,
      .swiper-slide-shadow-bottom,
      .swiper-cube-shadow {
        transform-style: preserve-3d;
      }
      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right,
      .swiper-slide-shadow-top,
      .swiper-slide-shadow-bottom {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
      }
      .swiper-slide-shadow-left {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      }
      .swiper-slide-shadow-right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      }
      .swiper-slide-shadow-top {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      }
      .swiper-slide-shadow-bottom {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      }
    }

    /* CSS Mode */
    .swiper-container-css-mode {
      > .swiper-wrapper {
        overflow: auto;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        &::-webkit-scrollbar {
          display: none;
        }
      }
      > .swiper-wrapper > .swiper-slide {
        scroll-snap-align: start start;
      }
    }
    .swiper-container-horizontal.swiper-container-css-mode {
      > .swiper-wrapper {
        scroll-snap-type: x mandatory;
      }
    }
    .swiper-container-vertical.swiper-container-css-mode {
      > .swiper-wrapper {
        scroll-snap-type: y mandatory;
      }
    }

    /* Bullets */
    .swiper-pagination {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: 300ms opacity;
      transform: translate3d(0, 0, 0);
      z-index: 10;
    }
    .swiper-pagination.swiper-pagination-hidden {
      opacity: 0;
    }
    /* Common Styles */
    .swiper-pagination-fraction,
    .swiper-pagination-custom {
      bottom: 0;
      width: 100%;

      @media screen {
        width: 36px;
        height: 26px;
        top: 455px;
        left: 404px;
      }
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      background: $black;
      opacity: 0.2;
    }

    button.swiper-pagination-bullet {
      border: none;
      margin: 0;
      padding: 0;
      box-shadow: none;
      -webkit-appearance: none;
        -moz-appearance: none;
              appearance: none;
    }
    .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: 8px;
      height: 8px;
      opacity: 1;
      background: $yellow-gradient;
    }
    .swiper-container-vertical > .swiper-pagination-bullets {
      right: 10px;
      top: 50%;
      transform: translate3d(0px, -50%, 0);
    }
    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 6px 0;
      display: block;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      display: inline-block;
      vertical-align: middle;
      transition: 200ms transform, 200ms top;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      transition: 200ms transform, 200ms left;
    }
    .swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      transition: 200ms transform, 200ms right;
    }
  }
}


.swiper-button-prev {
  position: absolute;
  top: 332px;
  left: 52%;
  width: 15px;
  height: 18px;
  background-image: url("../img/reviews/icon-arrow.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);

  cursor: pointer;
  z-index: 20;

  @media (min-width: $desktop-width) {
    top: 458px;
    left: 456px;
  }
}

.swiper-button-next {
  position: absolute;
  top: 332px;
  left: 62.1%;
  width: 15px;
  height: 18px;
  background-image: url("../img/reviews/icon-arrow.svg");
  background-repeat: no-repeat;

  z-index: 20;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    top: 458px;
    left: 489px;
  }
}

.swiper-pagination {
  position: absolute;
  top: -308px;
  left: -8%;
  opacity: 0.2;
  font-size: 18px;
  letter-spacing: 4px;
}
