
// цвета текста
$white: #ffffff;
$black: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$yellow-gradient: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

// планшетная ширина
$tablet-width: 768px;
// десктопная ширина
$desktop-width: 1024px;
$wide-desktop: 1200px;

// ретиновые медиа
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
